<IfModule mod_rewrite.c>
    RewriteEngine On

    # Clean URL: Map extensionless URL requests to corresponding .php file if it exists
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L,QSA]
</IfModule>
